html,
body {
  background-color: #1E1E1E !important;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* Atur tinggi agar side kanan sama tingginya dengan halaman */
.genre-selection,
.side-nav {
  height: 100%;
}